/***********TAG SELECTOR***********/

body {
  background-color: #f3f9fb;
  margin: 0;
}

hr {
  border-color: #113f67;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #226597;
  text-align: center;
}

/**************CLASS SELECTOR*********/

.top {
  background-color: #87c0cd;
  margin: 0;
}

.head {
  background-color: #226597;
}

.quotes {
  color: #113f67;
  text-align: center;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
/****************ID SELECTOR*************/

/*****************NOTES
https://colorhunt.co/palette/141288
*/
